{% extends 'base.html' %}
{% block content %}
  <!-- banner -->
  <div class="inner-banner" id="home">
    <div class="inner-banner-overlay">
      <div class="container"></div>
    </div>
  </div>
  <!-- //banner -->

  <!-- page details -->
  <div class="breadcrumb-agile">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('baseabonne') }}">Services</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Enregistrer voyage
        </li>
      </ol>
    </div>
  </div>

  <section class="services py-5" id="services">
    <div class="container py-lg-5 py-3">
      <div class="row service-grid-grids text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <h1>Enregistrer un nouveau voyage</h1>
              <form method="POST" action="{{ url_for('enregistrer_voyage') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                  {{ form.ville_depart.label(class="form-label") }} {{
                  form.ville_depart(class="form-control") }} {% for error in
                  form.ville_depart.errors %}
                  <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                </div>
                <div class="form-group">
                  {{ form.ville_arrivee.label(class="form-label") }} {{
                  form.ville_arrivee(class="form-control") }} {% for error in
                  form.ville_arrivee.errors %}
                  <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                </div>
                <div class="form-group">
                  {{ form.date_voyage.label(class="form-label") }} {{
                  form.date_voyage(class="form-control") }} {% for error in
                  form.date_voyage.errors %}
                  <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                </div>
                <div class="form-group">
                  {{ form.tarif.label(class="form-label") }} {{
                  form.tarif(class="form-control") }} {% for error in
                  form.tarif.errors %}
                  <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}